---
title: Porównywanie wyników testów obciążenia
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: f85800ea59545ad64a821d1bb8c003ba6eef8c26
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/18/2020
ms.locfileid: "75589347"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Zgłoś wyniki testów obciążenia dla porównań testów lub analizy trendów

Można wygenerować raporty testów obciążenia programu Microsoft Excel, które są oparte na co najmniej dwóch wynikach testów.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Dostępne są dwa typy raportów z testów obciążenia:

- Uruchom&mdash;porównanie Ten raport to w rzeczywistości dwa raporty, które wyświetlają dane porównania obok siebie przy użyciu tabel i wykresów słupkowych.

- Trend&mdash;Możesz wygenerować analizę trendów w dwóch lub więcej raportach. Wyniki są wyświetlane przy użyciu wykresów liniowych.

Każdy raport może służyć do udostępniania danych dotyczących wydajności zainteresowanym stronom i przekazywania, czy ogólna wydajność i kondycja systemu jest coraz lepsza, czy gorsza.

Definicje raportów są przechowywane w bazie danych testów obciążenia. Po zapisaniu raportu definicja raportu jest zapisywana w bazie danych i może być ponownie usuowana później.

Ponadto plik arkusza kalkulacyjnego można udostępnić zainteresowanym stronom, aby zainteresowane strony nie musiały łączyć się z bazą danych w celu wyświetlenia raportu.

> [!NOTE]
> Jeśli dodasz komentarze do testu obciążenia, pojawią się one w raporcie programu Excel.

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone tematy|
|-|-|
|**Tworzenie raportu wydajności i stresu:** Raporty dotyczące testów wydajności obciążenia i sieci Web można tworzyć za pomocą programu Microsoft Excel.|- [Jak: Tworzenie raportów wydajności testu obciążenia przy użyciu programu Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręcznie utwórz raport o wydajności i stresie przy użyciu programu Microsoft Word:** Raporty dotyczące testów wydajności obciążenia i sieci Web można tworzyć ręcznie, kopiując i wklejając podsumowanie, tabelę i dane wykresu do dokumentu programu Microsoft Word.|- [Jak: Ręczne tworzenie raportu wydajności testu obciążenia przy użyciu programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz też

- [Analizowanie wyników testu obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
