---
title: Porównanie wyników testów obciążenia
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: gewarren
ms.author: gewarren
manager: jillfra
ms.prod: visual-studio-dev15
ms.openlocfilehash: a2986c22dabc25e2db1e48e8308aa066ce6ca109
ms.sourcegitcommit: 2193323efc608118e0ce6f6b2ff532f158245d56
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 01/25/2019
ms.locfileid: "54921833"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Testy obciążenia raport wyników dla potrzeb porównań testów lub analizy trendów

Można generować raporty testu obciążenia programu Microsoft Excel, które opierają się na dwóch lub więcej wynikach badań.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Dostępne są dwa typy raportów testów obciążenia:

- Uruchom porównanie&mdash;ten raport jest faktycznie dwóch raportów, które wyświetlają dane porównania side-by-side przy użyciu tabel i wykresów słupkowych.

- Trend&mdash;możesz wygenerować analizy trendu na podstawie co najmniej dwóch raportów. Wyniki są wyświetlane przy użyciu wykresów liniowych.

Raport może służyć do udostępniania danych dotyczących wydajności zainteresowanym osobom i przekazywania, czy ogólna wydajność i kondycja systemu jest coraz lepsza czy gorsza.

Definicje raportów są przechowywane w bazie danych testu obciążenia. Po zapisaniu raportu definicja raportu jest zapisywany w bazie danych i mogą być używane ponownie później.

Ponadto plik arkusza kalkulacyjnego mogą być udostępniane zainteresowane strony, aby nie trzeba połączyć z bazą danych, aby wyświetlić raport zainteresowanych stron.

> [!NOTE]
> Po dodaniu komentarzy do testu obciążenia są wyświetlane w raporcie programu Excel.

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone tematy|
|-|-|
|**Tworzenie raportu wydajności i obciążenia:** Można tworzyć raporty na testy wydajności sieci web i obciążenia, przy użyciu programu Microsoft Excel.|- [Jak: Tworzenie raportów wydajności testu obciążenia przy użyciu programu Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręczne tworzenie raportu wydajności i obciążenia za pomocą programu Microsoft Word:** Możesz tworzyć raporty na testy wydajności sieci web i obciążenia ręcznie przez kopiowanie i wklejanie podsumowanie, tabeli i dane wykresu do dokumentu programu Microsoft Word.|- [Jak: Ręczne tworzenie raportu wydajności testu obciążenia przy użyciu programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)