---
title: Porównywanie wyników testu obciążenia
description: Dowiedz się, jak generować raporty testów obciążenia programu Excel, które są oparte na dwóch lub większej liczbie wyników testów, w tym uruchamiania raportów porównawczych i raportów trendów.
ms.custom: SEO-VS-2020
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 66a388b5b6d74834c58eebad04147d5067655a28
ms.sourcegitcommit: 02f14db142dce68d084dcb0a19ca41a16f5bccff
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 11/23/2020
ms.locfileid: "95441597"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Zgłoś wyniki testów obciążenia dla porównania testów lub analizy trendów

Można generować raporty testów obciążenia programu Microsoft Excel, które są oparte na dwóch lub większej liczbie wyników testów.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Dostępne są dwa typy raportów testów obciążenia:

- Uruchom porównanie &mdash; ten raport to w rzeczywistości dwa raporty, które wyświetlają dane porównania obok siebie przy użyciu tabel i wykresów słupkowych.

- Trend umożliwia &mdash; generowanie analizy trendów na co najmniej dwóch raportach. Wyniki są wyświetlane przy użyciu wykresów liniowych.

Raport może służyć do współdzielenia danych wydajności z udziałowcami i przekazywania informacji o tym, czy ogólna wydajność i kondycja systemu jest lepsza i gorsza.

Definicje raportów są przechowywane w bazie danych testu obciążenia. Po zapisaniu raportu definicja raportu jest zapisywana w bazie danych i może zostać ponownie użyta później.

Ponadto plik arkusza kalkulacyjnego może być współużytkowany z uczestnikami, tak aby uczestnicy projektu nie musieli łączyć się z bazą danych, aby wyświetlić raport.

> [!NOTE]
> W przypadku dodania komentarzy do testu obciążenia pojawiają się one w raporcie programu Excel.

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone tematy|
|-|-|
|**Tworzenie raportu dotyczącego wydajności i obciążenia:** Możesz tworzyć raporty dotyczące testów wydajności i obciążenia sieci Web przy użyciu programu Microsoft Excel.|- [Instrukcje: Tworzenie raportów wydajności testu obciążenia przy użyciu programu Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręczne tworzenie raportu dotyczącego wydajności i obciążenia przy użyciu programu Microsoft Word:** Możesz ręcznie tworzyć raporty dotyczące obciążeń i testów wydajności sieci Web, kopiując i wklejając dane podsumowujące, tabeli i wykresu do dokumentu programu Microsoft Word.|- [Instrukcje: ręczne tworzenie raportu wydajności testu obciążenia przy użyciu programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
