---
title: Porównywanie wyników testu obciążenia
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: jillre
ms.author: jillfra
manager: jillfra
ms.openlocfilehash: 0fe200f73d8053d3970236c831d3f82ab21dac8e
ms.sourcegitcommit: a8e8f4bd5d508da34bbe9f2d4d9fa94da0539de0
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 10/19/2019
ms.locfileid: "72665211"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Zgłoś wyniki testów obciążenia dla porównania testów lub analizy trendów

Można generować raporty testów obciążenia programu Microsoft Excel, które są oparte na dwóch lub większej liczbie wyników testów.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Dostępne są dwa typy raportów testów obciążenia:

- Wyniki przebiegu porównania &mdash;This są w rzeczywistości dwa raporty, które wyświetlają dane porównania Side-by-Side przy użyciu tabel i wykresów słupkowych.

- Trend &mdash;You może generować analizę trendu w przypadku co najmniej dwóch raportów. Wyniki są wyświetlane przy użyciu wykresów liniowych.

Raport może służyć do współdzielenia danych wydajności z udziałowcami i przekazywania informacji o tym, czy ogólna wydajność i kondycja systemu jest lepsza i gorsza.

Definicje raportów są przechowywane w bazie danych testu obciążenia. Po zapisaniu raportu definicja raportu jest zapisywana w bazie danych i może zostać ponownie użyta później.

Ponadto plik arkusza kalkulacyjnego może być współużytkowany z uczestnikami, tak aby uczestnicy projektu nie musieli łączyć się z bazą danych, aby wyświetlić raport.

> [!NOTE]
> W przypadku dodania komentarzy do testu obciążenia pojawiają się one w raporcie programu Excel.

## <a name="tasks"></a>Zadania

|Zadania|Skojarzone tematy|
|-|-|
|**Tworzenie raportu dotyczącego wydajności i obciążenia:** Możesz tworzyć raporty dotyczące testów wydajności i obciążenia sieci Web przy użyciu programu Microsoft Excel.|- [instrukcje: Tworzenie raportów wydajności testu obciążenia przy użyciu programu Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Ręczne tworzenie raportu dotyczącego wydajności i obciążenia przy użyciu programu Microsoft Word:** Możesz ręcznie tworzyć raporty dotyczące obciążeń i testów wydajności sieci Web, kopiując i wklejając dane podsumowujące, tabeli i wykresu do dokumentu programu Microsoft Word.|- [jak: ręcznie utworzyć raport wydajności testu obciążenia przy użyciu programu Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia](../test/analyze-load-test-results-using-the-load-test-analyzer.md)