---
title: 'Porady: tworzenie wykresów niestandardowych w wynikach testów obciążenia'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: 10433c63e0bad00d187f79634f74fa3727edc3dc
ms.sourcegitcommit: cc841df335d1d22d281871fe41e74238d2fc52a6
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 03/18/2020
ms.locfileid: "76113296"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Jak: Tworzenie niestandardowych wykresów w wynikach testu obciążenia

Można projektować wykresy, które wyświetlają określone informacje o wynikach testu obciążenia. Zaprojektować wykres niestandardowy, określając liczniki testu obciążenia, które będzie wyświetlany wykres.

Poniższą procedurę można wykonać podczas uruchamiania testu obciążenia lub po jego zakończeniu pracy.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Aby utworzyć wykres wyników testu obciążenia niestandardowego

1. Na **pasku narzędzi Testu obciążenia** wybierz pozycję **Dodaj nowy wykres**.

     \-lub -

     W **analizatorze testu obciążenia**kliknij prawym przyciskiem myszy w panelu **Liczniki** lub na wykresie, a następnie wybierz pozycję **Dodaj wykres**.

     Zostanie wyświetlone okno dialogowe **Wprowadzanie nazwy wykresu.**

2. W **obszarze Nazwa wykresu**wpisz nazwę wykresu i wybierz przycisk **OK**.

     Nowy wykres pojawi się w **analizatorze testu obciążenia**. Pojawia się w aktualnie wybranym panelu wykresu; zastępuje wykres wyświetlany w tym panelu.

3. Dostosuj nowy wykres, dodając liczniki. Aby uzyskać więcej informacji, zobacz [Jak: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Zobacz też

- [Analizowanie wyników testu obciążenia w widoku Wykresy](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Jak: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)
