---
title: 'Instrukcje: Tworzenie wykresów niestandardowych w wynikach testów obciążenia'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: jillfra
ms.openlocfilehash: a03d16f74623d935e8f4f09b0f397672ad226487
ms.sourcegitcommit: 21d667104199c2493accec20c2388cf674b195c3
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 02/08/2019
ms.locfileid: "55932411"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Instrukcje: Tworzenie wykresów niestandardowych obciążenia wyników testu

Można zaprojektować wykresów wyświetlających określone informacje na temat wyników testów obciążenia. Projektujesz niestandardowy wykres, określając liczniki testu obciążenia, które wykresie będą wyświetlane.

Po uruchomieniu testu obciążeniowego lub po zakończeniu działania, można wykonać poniższą procedurę.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Aby utworzyć wykres wyników testu obciążenia niestandardowe

1.  Na **testu obciążeniowego** narzędzi, wybierz **Dodaj nowy wykres**.

     \- lub —

     Na **analizatora testu obciążenia**, kliknij prawym przyciskiem myszy **liczniki** panel lub wykres, a następnie wybierz **Dodaj Graf**.

     **Wprowadź nazwę wykresu** zostanie wyświetlone okno dialogowe.

2.  W obszarze **nazwa wykresu**, wpisz nazwę dla wykresu, a wybierz **OK**.

     Nowy wykres, który pojawia się w **analizatora testu obciążenia**. Wygląda na to, w panelu aktualnie zaznaczonym wykresem; zastępuje wykres, który został wyświetlony w tym panelu.

3.  Dostosuj nowy wykres, dodając liczniki. Aby uzyskać więcej informacji, zobacz [jak: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia w widoku wykresu](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Instrukcje: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)