---
title: 'Porady: tworzenie wykresów niestandardowych w wynikach testów obciążenia'
ms.date: 10/19/2016
ms.topic: conceptual
helpviewer_keywords:
- load test results graphs, creating
- load test results graphs
ms.assetid: 17fcafce-76f9-4411-9389-6e5376eab236
author: gewarren
ms.author: gewarren
manager: douge
ms.prod: visual-studio-dev15
ms.technology: vs-ide-test
ms.openlocfilehash: c65b9ad5c6a9d554f2c71cc5d17c63ce9368df2c
ms.sourcegitcommit: 708f77071c73c95d212645b00fa943d45d35361b
ms.translationtype: MT
ms.contentlocale: pl-PL
ms.lasthandoff: 12/07/2018
ms.locfileid: "53055403"
---
# <a name="how-to-create-custom-graphs-in-load-test-results"></a>Porady: Tworzenie wykresów niestandardowych obciążenia wyników testu

Można zaprojektować wykresów wyświetlających określone informacje na temat wyników testów obciążenia. Projektujesz niestandardowy wykres, określając liczniki testu obciążenia, które wykresie będą wyświetlane.

Po uruchomieniu testu obciążeniowego lub po zakończeniu działania, można wykonać poniższą procedurę.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

## <a name="to-create-a-custom-load-test-results-graph"></a>Aby utworzyć wykres wyników testu obciążenia niestandardowe

1.  Na **testu obciążeniowego** narzędzi, wybierz **Dodaj nowy wykres**.

     \- lub —

     Na **analizatora testu obciążenia**, kliknij prawym przyciskiem myszy **liczniki** panel lub wykres, a następnie wybierz **Dodaj Graf**.

     **Wprowadź nazwę wykresu** zostanie wyświetlone okno dialogowe.

2.  W obszarze **nazwa wykresu**, wpisz nazwę dla wykresu, a wybierz **OK**.

     Nowy wykres, który pojawia się w **analizatora testu obciążenia**. Wygląda na to, w panelu aktualnie zaznaczonym wykresem; zastępuje wykres, który został wyświetlony w tym panelu.

3.  Dostosuj nowy wykres, dodając liczniki. Aby uzyskać więcej informacji, zobacz [porady: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md).

## <a name="see-also"></a>Zobacz także

- [Analizowanie wyników testów obciążenia w widoku wykresu](../test/analyze-load-test-results-in-the-graphs-view.md)
- [Porady: Dodawanie i usuwanie liczników na wykresach](../test/how-to-add-and-delete-counters-on-graphs-in-load-test-results.md)